* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffd300;
}

#ron {
  width: 40vw;
  height: 100vh;
  top: 0;
  left: 0;
}

div {
  position: absolute;
  right: 5vw;
  top: 20vh;
  width: 40vw;
  height: auto;
}

#quote {
  font-family: "Raleway", sans-serif;
  font-size: 5vh;
}

#name {
  position: absolute;
  bottom: 3vh;
  right: 3vw;
  font-family: "Raleway", sans-serif;
  font-size: 10vh;
}

#left-quote {
  position: absolute;
  top: 9vh;
  right: 45vw;
  visibility: hidden;
}

#right-quote {
  position: absolute;
  bottom: 40vh;
  right: 0vw;
  visibility: hidden;
}

button {
  width: 8vw;
  height: 3vh;
  margin-top: 10px;
  position: absolute;
  bottom: 40vh;
  left: 25vw;
}

button p {
  font-size: 2vh;
}

#hidden {
  height: 100vh;
  width: 40vw;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  animation: movingRight 10s infinite ease-in-out;
  animation-delay: 2s;
}

@keyframes movingRight {
  0%,
  40% {
    left: 0vw;
  }
  10% {
    left: 5vw;
  }
  25% {
    left: 9vw;
  }
}
